body {
    margin: 0px;
    background-color: LightGrey;
    font-family: Verdana;
}
#page {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px 1080px;
    grid-template-rows: 100px auto auto;

    width: 1280px;
}
#page_header {
    grid-column: 1 / span 2;
    grid-row: 1;

    margin: 0px 0px 5px 0px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 5px 5px 5px Grey;
    overflow: hidden;
    background-color: white;
    //background-image: linear-gradient(0deg, #DDDDDD, LightBlue);
    text-align: center;
}
nav {
    grid-column 1;
    grid-row: 2;

    margin: 0px 5px 0px 0px;
}
nav ul {
    margin: 0px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 5px 5px 5px Grey;
    overflow: hidden;
    background-color: #EEEEEE;
    padding: 5px 0px 5px 20px;
    text-align: left;
    font-size: 12pt;
    font-weight: bold;
}
nav ul li {
    cursor: pointer;

    border: 1px solid;
    border-radius: 5px;
    border-color: #EEEEEE;
}
nav ul li:hover {
    border-color: black;
    border-style: outset;
    //box-shadow: 3px 3px 3px Grey;
    background-color: #CCCCCC;
}
nav ul li:active {
    //position: relative;
    //top: 1px;
    //left: 1px;
    border-style: inset;
    //box-shadow: 1px 1px 1px Grey;
}
nav ul li.selected {
    border-color: black;
    background-color: #DDDDDD;
}
main {
    grid-column: 2;
    grid-row: 2;

    display: grid;
    //grid-template-columns: auto auto;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    border: 1px solid;
    border-radius: 5px;
    box-shadow: 5px 5px 5px Grey;
    overflow: hidden;
    background-color: white;
    padding: 5px;
}
main header {
    grid-column: 1 / span 2;
    grid-row: 1;

    margin: 0px;
    overflow: hidden;
}
#edit {
    cursor: pointer;

    float: right;
}
#edit:active {
    position: relative;
    top: 1px;
    left: 1px;
}
#msg {
    color: red;
    font-size: 10pt;
}
#left {
    grid-column: 1;
    grid-row: 2;

    width: 0px;//290px;
    overflow: hidden;

    transition: width 1s ease-out;
}
#form {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;

}
fieldset {
    border: 1px solid;
    border-radius: 5px;
    overflow: hidden;
    background-color: #EEEEEE;
}
#fields {
    grid-column: 1;
    grid-row: 1;

    border: 1px solid;
    border-radius: 5px;
}
#actions {
    grid-column: 2;
    grid-row: 1;

    border: 1px solid;
    border-radius: 5px;
    width: 65px;
}
#form button {
    cursor: pointer;

    border: 1px solid;
    border-radius: 5px;
    width: 64px;
    //background-color: #DDDDDD;
    background: radial-gradient(White, #CCCCCC);
    padding: 0px 5px;
    text-align: left;
    font-weight: bold;
}
#form button:hover {
    //border-style: outset;
    //background-color: #CCCCCC;
    background: radial-gradient(White, #AAAAAA);
}
#form button:active {
    //border-style: inset;
    background: radial-gradient(#DDDDDD, #DDDDDD);
}
.field {
    text-align: right;
    white-space: nowrap;
}
.field label {
    //text-align: right;
    font-weight: bold;
}
.field label::after {
    content: ":";
}
.field input {
    width: 100px;
    border: 1px solid;
    border-radius: 5px;
    text-align: left;
}
.field:last-child input {
    text-align: right;
}
#page article {
    grid-column: 2;
    grid-row: 2;

    overflow: hidden;
    font-size: 8pt;
}
#page article img {
    border: 1px solid;
    border-radius: 5px;
    max-width: 99.9%;
}
#view-count::before {
    content: "Clicks: ";
}
#page_footer {
    grid-column: 2;
    grid-row: 3;

    text-align: center;
    font-size: 8pt;
}